//META{"name":"THEME DISCORD KRITIKA ONLINE PSION","description":"Theme Discord con tematica del videojuego Kritika Online","author":"HarryElSuzio","version":"1.0"}*//{}

/* IMPORT CSS FROM GITHUB */
@import url(https://rawgit.com/HarryElSuzio/Themes/blob/master/PrismPrison.8.css);

/* IMPORTANT: Change '.old' to '.new' for the new titlebar and vice versa */
@import url(https://rawgit.com/HarryElSuzio/Themes/blob/master/Bars/Titlebar.old.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: Only works in Light Mode! Change your mode in Settings > Appearance.
IMPORTANT: Links must be HTTPS!
---------------------------------------------------------------------------------------------------------------------------------------------
-> If some elements are broken, there is either: A new theme version available, or Discord has just updated.
-> Redownload your respective theme from here: https://github.com/HarryElSuzio/Themes.
-> If you notice elements are broken for a prolonged amount of time, please shoot me a message on Discord. 
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/* ========== CUSTOMIZABLE VARIABLES ========== */
:root {
    /* COLOURS */
	--main-color: #2780e6;
	--hover-color: #1f66b8;
	--channel-color: #ccffff;
	
    /* IMAGES */
	--background-image: url(https://www.hdwallpapers.in/thumbs/2017/kritika_online_psion_4k-t2.jpg);
	--dm-image: url(https://puu.sh/w1y3a/7e878418b3.gif);	
	--profile-image: url(https://puu.sh/sAO0x/fdecb6c24b.png);
    --nsfw-image: url(https://puu.sh/zbsiF/9b67596e0e.png);

    /* MISC */
	--background-blur: 0px;
	--background-brightness: 100%;
	--emoji-size: 50px;
}