//META{"name":"STAR WAR","description":"Theme Discord basado en tematica del videojuego star wars","author":"HarryElSuzio","version":"1.0"}*//{}

/* IMPORT CSS FROM GITHUB */
@import url(https://rawgit.com/HarryElSuzio/Themes/blob/master/PrismPrison.8.css);

/* IMPORTANT: Change '.old' to '.new' for the new titlebar and vice versa */
@import url(https://rawgit.com/HarryElSuzio/Themes/blob/master/Bars/Titlebar.old.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: Only works in Light Mode! Change your mode in Settings &gt; Appearance.
IMPORTANT: Links must be HTTPS!
---------------------------------------------------------------------------------------------------------------------------------------------
-&gt; If some elements are broken, there is either: A new theme version available, or Discord has just updated.
-&gt; Redownload your respective theme from here: https://github.com/HarryElSuzio/Themes.
-&gt; If you notice elements are broken for a prolonged amount of time, please shoot me a message on Discord. 
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/* ========== CUSTOMIZABLE VARIABLES ========== */
:root {
    /* COLOURS */
 --main-color: #e62727;
 --hover-color: #b81f1f;
 --channel-color: #ffcccc;
 
    /* IMAGES */
 --background-image: url(https://es.best-wallpaper.net/wallpaper/3840x2160/1608/Star-Wars-Episode-VII-The-Force-Awakens-2016_3840x2160.jpg); 
 --dm-image: url(); 
 --profile-image: url();
    --nsfw-image: url();
 
    /* MISC */
 --background-blur: 0px;
 --background-brightness: 100%;
 --emoji-size: 50px;
}